<html>
<h2>
<centre>
Employee Information System
</centre>
</h2>
<a href='http://localhost:5000/newrecord'> New Employee </a> <br>
<h2> Select Department <font color='pink'> </font></h2>

<form action = "http://localhost:5000/showdepartmentEmployees" method="post">
    <select name="dept">
        <option value="HR"> Human Resources </option>
        <option value="IT"> Information Technology</option>
    </select>
    <input type="submit">
</form>
<a href="http://localhost:5000/showdepartment"> Show Department Record</a> <br> <br>
<table>
    <tr>
        <td> S.no</td>
        <td> Name </td>
    </tr>

{% for record in data 
    
    %} 
<tr>
    <td> {{1}} </td>
    <td> <a href='http://localhost:5000/details/{{record[0]}}'>{{record[1]}} </a> 

    </td>
</tr>
 <br>
{%  endfor%} 
</table>
</html>